
* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../images/background.png");
}

ul {
	margin: 0px;
}

/* Begin Header Formating */

header {
	background-color: #ffffff;
	border-bottom: solid;
	border-color: #cccccc;
	height: 76px;
	width: 100%;
}

#nav-container {
	max-width: 960px;
	min-width: 300px;
	margin: 0 auto;
}

#site-title {
	float: left;
	color: #ffffff;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 20px;
	margin: 0px;
}

.site-nav {
	float: left;
	list-style: none;
	display: inline-block;
	margin: 25px 20px 20px 0px;
	padding-right: 20px;
	color: #777777;
	border-right: solid 1px #777777;
	font-size: 18px;
}

#add-margin {
	margin-left: 692px;
}

#no-border {
	border-right: none;
	margin-right: 0px;
}

a {
	text-decoration: none;
	color: #777777;
}

/* End Header Formating */

/* Begin Main Content Formating */

#container {
	max-width: 960px;
	margin: 0 auto;
}

/* Begin Main Bio Formating */

#main-bio {
	float: left;
	width: 600px;
	border: solid;
	border-color: #dddddd;
	background-color: #ffffff;
	padding: 20px;
	margin: 30px 30px 30px 0px;
	color: #777777;
	line-height: 1.8em;
}

#bio-image {
	float: left;
	padding-top: 20px;
	padding-right: 10px;
	width: 200px;
}

.page-title {
	color: #4aaaa5;
	border-bottom: solid;
	border-color: #cccccc;
	padding-bottom: 20px;
}

/* End Main Bio Formating */

/* Begin Contact Info Formating */

#contact-info {
	float: right;
	border: solid;
	color: #4aaaa5;
	border-color: #dddddd;
	background-color: #ffffff;
	margin-top: 30px;
}

#contact-title {
	margin: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px #dddddd;
}

#connect-container {
	padding: 0px 20px 20px 20px;
}

.connect-nav {
	list-style: none;
	display: inline-block;
}

/* End Contact Info Formating */

/* End Main Content Formating */

/* Begin Footer Formating */

.site-footer {
	/*
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	*/
	margin-top: -20px;
	text-align: center;
  	background-color: #666666;
  	padding: 20px;
  	color: #ffffff;
  	border-top: solid;
  	border-color: #cccccc;
  	border-width: 5px;
  	overflow: auto;
  	width: 100%;
}

/* End Footer Formating */
